<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap.min.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap-theme.min.css' %}" />
    <title>提交成功</title>
</head>
<body>
<header>
	<h1 class='text-center'><a href='http://crossincode.com/'>crossin编程教室</a></h1>
</header>
<content class='row'>
	<div class='col-md-12'>
		<h2 class='text text-center text-success'>提交成功</h2>
		<h2 class='text text-center text-info'>谢谢您的支持</h2>
	</div>
</content>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static 'bootstrap3\js\bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap3\js\npm.js' %}"></script>
<script>
</script>

</body>
</html>