{% extends 'base2.html' %}
{% block title %}用户列表{% endblock %}
{% block nav_bar %}
	{% include 'labcrm/tools/nav_bar.html' with tag_list="active" %}
{% endblock %}
{% block row-left %}
<button id='btnUserAdd' class='btn btn-info btn-block btn-lg' data-toggle="modal" data-target="#userAddModal" onclick='userAdd()'>添加成员</button>
<button id='btnUserDel' class='btn btn-warning btn-block btn-lg' onclick='userDel()'>删除成员</button>
<button id='btnModify' class='btn btn-primary btn-block btn-lg' onclick='rename()'>信息修改</button>
<button id='btnModOver' class='btn btn-success btn-block btn-lg hidden' onclick='renameOver()'>修改完毕</button>
<button id='btnDelSure' class='btn btn-danger btn-block btn-lg hidden' form='formUserDel' type='submit' onclick='delSure()'>确认删除</button>
{% endblock %}
{% block row-right %}
<table class="table table-hover table-striped table-bordered">
	<caption>
		<h3 class='text-center'>
			<span>成员列表</span>
			<span><input type='submit' class='btn btn-sm btn-primary pull-right' onclick='dumpdata()' form='formDowload' value='导出'></span>
		</h3>
	</caption>
	<thead class='thead-inverse'>
		<tr>
			<th>本站名</th><!-- 昵称为本站 user.username -->
			<th>用户名 | 学习记录</th><!-- 用户名为学习站 user.username 本站 lab_user.nickname -->
			<th>微信</th>
			<th>助教</th>
			<th>问卷</th>
			<th>入学日期</th>
			<th>沟通记录</th>
			<th>学员类别</th>
			<th class='hidden tbHid'>删除</th>
		</tr>
	</thead>
	<tbody id='userList'>
	{% include 'labcrm/ajax/user_del.html' %}
	</tbody>
</table>
{% endblock %}
{% block modal %}
<form class='hidden' id='formUserDel' action='{% url "crm:ajax:del" %}' method='POST'>{% csrf_token %}</form>
<form class='hidden' id='formDowload' action='http://127.0.0.1:8000/admin/labcrm/labuser/export/' method='POST'>
	{% csrf_token %}
	<input class='hidden' name='file_format' value='0'>
</form>
<div class="modal fade" id='userAddModal' tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">添加成员：</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id='formUserAdd' action='' method='POST'>
					{% csrf_token %}
					<input class='hidden' name='update' id='update' disabled>
					<div class="form-group">
						<label class='col-lg-2 control-label' for='addNickname'>本站名：</label>
						<div class=' col-lg-10'>
							<input id='addNickname' class='form-control' name='username' onfocus="this.select()" readonly placeholder='昵称'>
						</div>
					</div>
					<div class="form-group">
						<label class='col-lg-2 control-label' for='addWechat'>微信：</label>
						<div class='col-lg-10'>
							<input id='addWechat' class='form-control' name='wechat' onfocus="this.select()" disabled placeholder='微信'>
						</div>
					</div>
					<div class="form-group hidden" id='divAddUsername'>
						<label class='col-lg-2 control-label' for='addUsername'>用户名：</label>
						<div class='col-lg-10'>
							<input id='addUsername' class='form-control' name='nickname' onfocus="this.select()" disabled placeholder='学习站用户名'>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id='btn-modal-hide' data-dismiss="modal">取消</button>
				<button type="submit" class="btn btn-primary" form='formUserAdd' onclick='userAddSure()'>添加</button>
			</div>										
		</div>
	</div>
</div>
{% endblock %}
{% load staticfiles %}
{% block script %}
<script>
	$(selectclassificationvalue).change(function(e){
		e.preventDefault();
		var target_url = '/crm/users'
			new_user_classification = 0 
			uid=this.parentElement.parentElement.id.replace('user', '');;
		new_user_classification = $(this).val()
		console.log(uid)
		console.log(new_user_classification)
		xhr=new XMLHttpRequest();
		xhr.open("GET",target_url+'?class='+new_user_classification+"&userid="+uid,true);
		xhr.send(new_user_classification+uid);
	});
</script>
<script type="text/javascript" src="/static/bootstrap3/js/myScriptForUserList.js"></script> 
{% endblock %}
