<!-- {% include 'base.html' %} -->
{% load highlight %}
{% block content %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//res.crossincode.com/js/jquery-1.11.1.min.js"></script>
<script src="//res.crossincode.com/js/bootstrap.min.js"></script>
<style type="text/css">
    /* Custom container */
    .container-narrow {
      margin: 0 auto;
      max-width: 700px;
    }
  </style>
<link rel='stylesheet' type='text/css' href="{% static 'css\bootstrap.min.css' %}" media="screen" />
<link rel='stylesheet' type='text/css' href="{% static 'css\my-style.css' %}"/>
<div class="container content">
    <div class="container-narrow">
        <div class="text" style="text-align:center;">             
            <h3>查询问题</h3>
        </div>
        <div class="row" style="padding:0 15px">
            <div class="col-lg-6 mysearch">
                <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="search" id="question" name="q" class="form-control" placeholder="输入想要查询的问题">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary active">点击查询</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="list-group">
            {% if query %}
            <div class="text" style="text-align:center;">             
                <h3>查询结果</h3>
            </div>
            {% for result in page.object_list %}
            <div class="list-group-item" style="display:table;table-layout:fixed;max-width:700px;width:100%">
                <a href="/faq/questions/{{ result.object.id }}/">{% highlight result.object.title with query %}</a>
                {% highlight result.object.answer with query max_length 40 css_class "highlighted" %}
            </div>
            {% empty %}
            <div class="list-group-item">没有搜索到合适的问题及答案,请告诉我们</div>
            {% endfor %}
            {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
            {% endif %}                      
        {% endif %}
        </div>
        <hr />
        <div style="text-align:center">
            <button  onClick="jumptoaskquestion()" type="button" class="btn btn-lg" id="askquestion" data-type="qa">
                    提问题
            </button>            
        </div>
    </div>
</div>
{% endblock %}
<script type=text/javascript>
    function jumptoaskquestion(){
        window.location="ask.html"
};     
</script>