{% load highlight %}
{% block content %}
    <h2>查询问题</h2>

    <style>
        span.highlighted {
            color: red;
        }
    </style>

    <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
        {% csrf_token %}
        <input type="search" name="q" placeholder="输入想要查询的问题">
        <button type="submit">
            <span class="ion-ios-search-strong">
                查询
            </span>
        </button>        
        
          {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="/faq/questions/{{ result.object.id }}/">{% highlight result.object.title with query %}</a>
					{% highlight result.object.answer with query max_length 40 css_class "highlighted" %}
                </p>
            {% empty %}
                <p>没有搜索到合适的问题及答案,请告诉我们</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            请输入搜索关键词，例如 django
        {% endif %}
    </form>
    <button onClick="jumptoaskquestion()" type="button" class="btn btn-primary " id="askquestion" data-type="qa">
        提问题
    </button>
{% endblock %}
<script type=text/javascript>
    function jumptoaskquestion(){
        window.location="ask.html"
};     
</script>