{% load highlight %}
{% block content %}
    <h2>Search</h2>

    <style>
        span.highlighted {
            color: red;
        }
    </style>

    <form method="get" action=".">
        <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
            <input type="search" name="q" placeholder="搜索" required>
            <button type="submit"><span class="ion-ios-search-strong"></span></button>
          </form>
        
          {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{% highlight result.object.title with query %}</a>
					{% highlight result.object.answer with query max_length 40 css_class "highlighted" %}
                </p>
            {% empty %}
                <p>没有搜索到合适的结果,请告诉我们</p>
                <form action="/question/add" method="post">
                    <input type="text" class="form-control" name="title" placeholder="问题标题" >
                ​
                    <textarea type="text" class="form-control" name="description" placeholder="问题描述"></textarea>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default">提交问题</button>
                </form>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            请输入搜索关键词，例如 django
        {% endif %}
    </form>
{% endblock %}
