{% extends 'base2.html' %}
{% block title %}群组划分{% endblock %}
{% block nav_bar %}
	{% include 'labcrm/tools/nav_bar.html' with tag_group="active" %}
{% endblock %}
{% block row-left %}
<button id='btnAddGroup' class='btn btn-info btn-block btn-lg' data-toggle="modal" data-target="#GroupAddModal" onclick="ResetGroupName()">
	添加分组
</button>
<hr />
<ul class="nav nav-pills nav-stacked nav-stacked text-center">
{% for group in groups %}
	<li role="presentation" class="nav active ">
		<a href='{% url "group:studentgroup"%}?group={{ group.id }}'>
			{{ group.group_name }}
		</a>
	</li>
{% endfor %}
</ul>
<hr />
<button id="btnDelGroup" class="btn btn-danger btn-block btn-lg" type='submit' data-toggle="modal" data-target="#GroupDelModal" onclick="ResetGroupName()">
	删除分组
</button>
{% endblock %}
{% block row-right %}
<table class="table table-hover table-striped table-bordered">
	<caption>
		<h3 class='text-center'>
			<span>群组列表</span>
		</h3>
	</caption>  
	<thead class='thead-inverse'>
		<tr>
			<th><input id='AllUserInGroup' type="checkbox" name="all" onclick="allCheck(this)">群组ID</th>
            <th>群组组名</th>
			<th>本站名</th>
			<th>微信</th>
			<th>用户名</th>
			<th>群组备注</th>
		</tr>
	</thead>
	<tbody id='useringroup'>
		{% if not group %}
			{% for lab_user in users %}
				<tr id='user{{ lab_user.id }}'>
					{% include 'group/user_list_base.html' %}
				</tr>
			{% endfor %}
		{% else %}
			{% for lab_user in users %}
			<tr id='user{{ lab_user.id }}'>
				{% if lab_user.group.id == group.id %}
				<tr id='user{{ lab_user.id }}'>
				    {% include 'group/user_list_base.html' %}
				</tr>
				{% endif %}							
			</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
{% block changegroup %}
<form id='formgroup' action="" method="post">
	{% csrf_token %} 
	<label>移动到：</label> 
	<select id='selectgroupvalue' name="selectgroup"  class="visible-lg-inline visible-sm-inline visible-md-inline" >
			<option value=0 selected>=== 已有群组 ===</option> 
			{% for group in groups %}
				<option value={{group.id}}>{{ group.group_name }}</option>		
			{% endfor %}  
	</select>
	<input type="submit" id="btnChangeGroup" value="提交"/> 
</form> 
{% endblock %}
{% endblock %}
{% block modal %}
<div class="modal fade" id='GroupAddModal' tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="false">
						&times;
					</span>
			    </button>
				<h4 class="modal-title">添加新的分组：</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id='formGroupAdd' action='' method='POST'>
					{% csrf_token %}
					<input class='hidden' name='update' id='update' disabled>
					<div class="form-group">
						<label class='col-lg-2 control-label' for='addGroupname'>群组名：</label>
						<div class='col-lg-10'>
							<input id='addGroupname' class='form-control' name='groupname' onfocus="this.select()">
						</div>
					</div>
					<div class="form-group">
						<label class='col-lg-2 control-label' for='addGroupNote'>群备注：</label>
						<div class='col-lg-10'>
							<input id='addGroupNote' class='form-control' name='groupnote' onfocus="this.select()">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id='btn-modal-hide' data-dismiss="modal">取消</button>
				<button type="submit" class="btn btn-primary" form='formGroupAdd' onclick='AddGroupName()'>添加</button>
			</div>
		</div>
	</div>
</div>
<div class='modal fade' id= 'GroupDelModal' tabindex='-1' role='dialog' aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="false">
						&times;
					</span>
				</button>
			    <h4 class="modal-title" id="myModalLabel">
					请输入你确定删除的群组ID：
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id='formGroupDel' action='' method='POST'>
					{% csrf_token %}
					<input class='hidden' name='update' id='update' disabled>
					<div class="form-group">
						<label class='col-lg-2 control-label' for='delGroupId'>群组ID：</label>
						<div class='col-lg-10'>
							<input id='delGroupId' class='form-control' name='groupid' onfocus="this.select()">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="submit" class="btn btn-primary" form='formGroupDel' onclick='DelGroupId()'>确定删除</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/bootstrap3/js/myScriptForGroup.js"></script> 
{% endblock %}

